# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
r:
  - oldrel
  - release
  - devel
sudo: false
cache: packages
before_install:
  - pip3 install altair==2.0.0rc1
addons:
  apt:
    packages:
      - python3.6
