/* Adapted from css used by  Altair documentation website
https://raw.githubusercontent.com/altair-viz/altair/169c498537571b16f7852d31564b5372274f3cca/doc/_static/altair-plot.css
*/

.vega-embed .vega-actions > a {
  color: #757575;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
  margin-right: 1em;
  text-decoration: none;
}

.vega-embed .vega-actions > a:hover {
  cursor: pointer;
}

